<mat-drawer-container class="main-container">
  <mat-drawer class="sidebar-container" mode="side" opened>
    <div id="logo-container">
      <mat-toolbar id="logo-toolbar">
        <img width="100" class="logo" alt="Vcita Logo" src="../assets/vcita.png"/>
      </mat-toolbar>
      <app-navigation></app-navigation>
    </div>
  </mat-drawer>
  <mat-drawer-content class="data-container">
    <mat-toolbar id="toolbar">
      <span>{{subTitle}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>